In [14]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('recipes_info.csv')

In [6]:
df.head(10)

,recipe_id,country,country_secondary,dish_category,dish_type,diet_type,carbohydrate_base,carbohydrate_category,protein,protein_cut,protein_type,family_friendly,spice_level,prep_time
0,2,India,India,Stove top / bowl food,Curry,Fish,Basmati,Rice,Shellfish,Prawns,Fish & Seafood,No,No Spice,25
1,5,Italy,Italy,Protein&Veg,Meat & Side veg,Meat,white potatoes,Potato,Beans,Butter beans,Pulses,No,Mild,35
2,9,Thailand,Thailand,Stove top / bowl food,Curry,Vegan,Basmati,Rice,Tofu,Protein not found,Vegetarian,No,Spicy,25
3,16,Great Britain,Great Britain,Protein&Veg,Fish & side veg,Fish,Carb not found,NaN,Oily Fish,Trout,Fish & Seafood,No,No Spice,20
4,19,Tunisia,Tunisia,Protein&Veg,Egg dish,Vegetarian,Millet,Grains,Eggs,Eggs,Dairy & Eggs,No,No Spice,30
5,20,Tunisia,Tunisia,Protein&Veg,Cheese & Side veg,Vegetarian,Cous cous,Grains,Cheese,Feta,Dairy & Eggs,No,No Spice,40
6,30,Italy,Italy,Stove top / bowl food,Pasta,Vegetarian,White pasta,Pasta,Cheese,Cheddar,Dairy & Eggs,No,No Spice,40
7,53,Lebanon,Lebanon,Salads,Tabbouleh,Vegetarian,Bulgur wheat,Grains,Cheese,Halloumi,Dairy & Eggs,no,No Spice,30
8,54,Italy,Italy,Stove top / bowl food,Risotto,Vegetarian,Risotto rice,Rice,NaN,NaN,NaN,No,No Spice,35-40
9,57,Japan,Japan,Soups,Ramen,Meat,Wholewheat noodle nests,Noodles,Chicken,Skin off Thigh Chicken,Poultry & Meat,Yes,No Spice,35

In [1]:
list({'user_id':'int64',
                                                      'message_ts':'object', 
                                                      'action_ts':'object',
                                                      'recipe_a':'int64', 
                                                      'recipe_b':'int64', 
                                                      'score':'int64'})

['recipe_a', 'recipe_b', 'score', 'action_ts', 'user_id', 'message_ts']

In [ ]:
    data_contract = {'similarity_scores':{'file_name':'similarity_scores.csv',
                                          'file_format':'csv',
                                          'columns': {'user_id':'int64',
                                                      'message_ts':'object', 
                                                      'action_ts':'object',
                                                      'recipe_a':'int64', 
                                                      'recipe_b':'int64', 
                                                      'score':'int64'},
                                          'percent_acceptable_nulls': 0,
                                          'min_max':{'score':[1, 4]},
                     'similarity_scores':{'file_name':'recipes_info.csv',
                                          'file_format':'csv',
                                          'columns': {'carbohydrate_base': 'object',
                                                      'carbohydrate_category': 'object',
                                                      'country': 'object',
                                                      'country_secondary': 'object',
                                                      'diet_type': 'object',
                                                      'dish_category': 'object',
                                                      'dish_type': 'object',
                                                      'family_friendly': 'object',
                                                      'prep_time': 'object',
                                                      'protein': 'object',
                                                      'protein_cut': 'object',
                                                      'protein_type': 'object',
                                                      'spice_level': 'object'},
                                          'percent_acceptable_nulls': 0.5

In [25]:
import re

if re.match('[0-9]{2}-[0-9]{2}','45-3'):
    print('y')

In [19]:
df['carbohydrate_base'] =

AttributeError: 'DataFrame' object has no attribute 'capitalise'

In [28]:
pd.api.types

In [55]:
df['spice_level'].value_counts()

No Spice    177
Spicy        43
Mild         40
Name: spice_level, dtype: int64

In [ ]:
data transformation steps
capitalisation standardisation
carb = Carb not found == npn.nana
country, country_secondary Great Britain -> United Kingdom, Korea,
                            Republic of (South Korea) -> South Korea,
                            Israel and the Occupied Territories -> Israel
        
takemax time from string withing 'prep_time'

In [33]:
df.describe()

         recipe_id
count   260.000000
mean    622.711538
std     384.708531
min       2.000000
25%     336.250000
50%     479.500000
75%     972.000000
max    1284.000000

In [10]:

def validate_data
df.isnull().sum().sum()
pd.types.

0